<mat-toolbar id="header-nav" style="display: flex">
  <a id="app-title" mat-button>bug-free-spork</a>
</mat-toolbar>

<div class="container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Rechnungsnummer">
      <th mat-header-cell *matHeaderCellDef>Rechnungsnummer</th>
      <td mat-cell *matCellDef="let rechnung">{{rechnung['Rechnungsnummer']}}</td>
    </ng-container>

    <ng-container matColumnDef="Rechnungsempfänger">
      <th mat-header-cell *matHeaderCellDef>Rechnungsempfänger</th>
      <td mat-cell *matCellDef="let rechnung">{{rechnung['Rechnungsempfänger']}}</td>
    </ng-container>

    <ng-container matColumnDef="Betrag Netto">
      <th mat-header-cell *matHeaderCellDef>Betrag Netto</th>
      <td mat-cell *matCellDef="let rechnung">{{rechnung['Betrag Netto']}}</td>
    </ng-container>

    <ng-container matColumnDef="Datum">
      <th mat-header-cell *matHeaderCellDef>Datum</th>
      <td mat-cell *matCellDef="let rechnung">{{rechnung['Datum']}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="dataSource.available() | async" [pageSize]="pageSize" (page)="pageEvent = handlePageEvent($event)">
  </mat-paginator>
</div>