<h2 mat-dialog-title>Information for <span class="rechnungsnummer">{{ rechnungsnummer }}</span></h2>

<mat-dialog-content>
    <table #rechnungspositionTable mat-table [dataSource]="rechnungspositionArray$">
        <ng-container matColumnDef="Produkt Name">
            <th mat-header-cell *matHeaderCellDef>Produkt Name</th>
            <td mat-cell *matCellDef="let rechnungsposition">{{rechnungsposition['Produkt Name']}}</td>
        </ng-container>

        <ng-container matColumnDef="Produkt Betrag Netto">
            <th mat-header-cell *matHeaderCellDef>Produkt Betrag Netto</th>
            <td mat-cell *matCellDef="let rechnungsposition">{{rechnungsposition['Produkt Betrag Netto']}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>