@import '~@angular/material/theming';

$error-color: #B00020;

.component-container {
    @include mat-elevation(8);
}

.table-container {
    position: relative;
    overflow: auto;
}

table {
    width: 100%;
}

.rightalign {
    text-align: right;
}

td {
    &.monospaced {
        font-family: monospace;
    }
}

th.mat-header-cell,
td.mat-cell {
    padding: 0 1em 0 1em;
}

.cdk-column-Rechnungsnummer {
    min-width: 9.5em;
}

.cdk-column-Betrag-Netto {
    min-width: 6em;
}

.cdk-column-Datum {
    min-width: 6em;
}

.error-message {
    display: block;
    padding: 1em;
    margin-bottom: 2em;

    border: 1px solid $error-color;
    @include mat-elevation(8, $error-color, 0.8);
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 110px;
    overflow: hidden;
}